/* Classes */
.container {
    /*border: 1px solid #000;*/
    margin: 10px;
}
.box {
    float: left;
}

.main {
    width: 960px;
    margin: 0 auto 200px; 
    overflow: auto;
}

.search_results{
    text-align: center;
    padding: 10px;
    width: 400px;
    float: right;
}

.big-text {
    text-align: left
}

.text {
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    text-align: left;
}

.loading {
    text-align: center;
}
/* IDs */


#heading{
    font-family: 'Lobster 1.4', cursive;
    font-size: 75px;
    color: red; 
    clear: both;
}

#sample_input{
    text-align: center;
    width: 400px;
    padding: 10px;
}


#top_border{
    width: 100%;
    height: 24px;
    margin: 0;
    padding: 0;
    background: transparent url(../images/top_border.png) repeat-x 0 0;
    position: fixed;
    top: 0;
    left: 0;
}

/* Tags */

body{
    color: #000;
    font-family: 'Lobster 1.4', sans-serif;
    font-size: 18px;
    background-color: #E8E8E8;
}


p {
    text-align: center;
}
