.main-container {
    width: 960px;
    height: 900px;
    margin: auto;
    /*background: #cdcdcd;*/
}

.box {
    width: 450px;
    height: 330px;
    /*background: #9FADC0;*/
}

.jumbotron{
    text-align: center;
}

.left {
    float: left;
}

.loading{
    width: 200px;
    margin: auto;
}

.right {
    float: right;
}

.stats{
    clear: both;
    width: inherit;
    margin: auto;
}

.button{
    margin-left: 150px;
}

#suggested-reading{
    width: 450px;
    height: 200px;
    background: #fff;
    overflow: scroll;
}



br{
    clear: both;
}
