<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <title>HB Project [Title TBD]</title>
    </head>

    <body>
        <div class="container" id="top_border"></div>
        <div class="container" id="main">
            <div class="container">
                <p id="heading">Blog Recommender</p>
            </div>
            <div class="container" id="sample_input">
                <p id="description">
                    [This app] returns blog posts that are similar to a block of input text.
                </p>
                <textarea name="sample_input" id="text_area_sample" cols="50" rows="15">Copy/Paste the sample blog text here...</textarea><br>
                <button id="submit" value="Submit">SUBMIT</button>
            </div>
        </div>
        <!-- Insert the scripts!  -->
        <script src="../static/jquery-2.0.3.js"></script>
        <script src="../static/myjs.js"></script>
    </body>
</html>