<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <title>HB Project [Title TBD]</title>
    </head>

    <body id="home">
        <div class="container" id="main">
            <div class="container" id="heading">
                <p>Mica's Hackbright Project</p>
            </div>
            <div class="container" id="sample_input">
                <p>I aim for a judicious use of white space.</p>
                <form>
                    <label for="GET-sample">Copy/Paste Sample Text:</label>
                    <input id="GET-sample" type="text" name="sample">
                    <input type="submit" value="Save">
                </form> 
            </div>
        </div>
    </body>
</html>