<html>
    <head>

        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
        <title>Blogster</title>
    </head>

    <body>
        <div id="top_border" class="container"></div>
        <div id="" class="container main">
            <div id="heading" class="container">
                <p>Blogster</p>
            </div>
            <div id="sample_input" class="container box">
                <p id="description">Blogster returns blog posts that are similar to a block of input text.</p>
                <p><textarea id="text_area_sample" cols="50" rows="15">And once he had showed me that the world could certainly use more strong women, and that I could be one of them, he would turn this around on me. I’d bring home a report, I’d do well in a competition, and he would shrug, then say, eyes twinkling, ‘Yeah, it’s alright I guess. FOR A GIRL.‘</textarea>
                <br><button id="submit" class="btn btn-primary" value="Submit">SUBMIT</button></p>
            </div>
            <div id="search_results" class="container box">
                <img src="../static/images/loading.gif" id = "loading" width="200px">
                <p id = "text">Loading...</p>
            </div>
        </div>
        <!-- Insert the scripts!  -->
        <script src="../static/jquery-2.0.3.js"></script>
        <script src="../static/myjs.js"></script>
    </body>
</html>